<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>{{title}}</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="sobre">Sobre</a>
        <a href="projetos">Projetos</a>
        <a href="contato">contato</a>
    </nav>
    <main>
        <!-- Neste bloco principal, serão inseridos os conteúdos específicos de cada página -->
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Meu Portfólio. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
