<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="txt.css" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Silvan | {{title}}</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h1>Meu Portfólio</h1>
        </div>
        <ul class="menu">
            <li><a href="/">Início</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="projeto">Projetos</a></li>
            <li><a href="contato">Contato</a></li>
        </ul>
    </nav>


    <a>meu contato  silvansilvan </a>

</body>
</html>






