<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Silvan | {{title}}</title>
</head>
<body>
    <div class="matrix-container">
        <div class="matrix-rain"></div>
        <nav class="matrix-menu">
            <div class="matrix-logo">
                <h1>Meu Portfólio</h1>
            </div>
            <ul class="menu">
                <li><a href="inicio">Início</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="projeto">Projetos</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </div>

    <section class="about-section" id="sobre">
        <div class="content">
            <h2>Como tudo começou?</h2>
            <p>Tudo começou...</p>
            <p>----</p>
        </div>
    </section>

</body>
</html>


    <!-- Seu conteúdo do portfólio aqui -->

</body>
</html>