<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Silvan | {{title}}</title>
</head>
<body>
    <div class="matrix-container">
        <div class="matrix-rain"></div>
        <nav class="matrix-menu">
            <div class="matrix-logo">
                <h1>Meu Portfólio</h1>
            </div>
            <ul class="menu">
                <li><a href="inicio">Início</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="projeto">Projetos</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </div>

    <section class="about-section" id="sobre">
        <div class="content">
            <h2>Sobre Mim</h2>
            <p>Adicione aqui informações sobre você, suas habilidades, interesses e qualquer outra coisa que desejar compartilhar com os visitantes do seu portfólio.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at purus mi. Integer venenatis erat eu mi bibendum, eu fermentum neque cursus. Vestibulum efficitur metus a dui consequat, eu convallis erat fermentum. Donec volutpat lacus id justo ullamcorper, nec iaculis elit ultrices.</p>
        </div>
    </section>

</body>
</html>





